
<h3>Create</h3>

<EditForm Model="@jobModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            <InputText class="form-control" id="name" @bind-Value="jobModel.Name" />
        </div>
    </div>

    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
            <InputTextArea class="form-control" id="description" @bind-Value="jobModel.Description" />
        </div>
    </div>

    <div class="form-group row">
        <label for="requirements" class="col-sm-2 col-form-label">Requirements</label>
        <div class="col-sm-10">
            <InputTextArea class="form-control" id="requirements" @bind-Value="jobModel.Requirements" />
        </div>
    </div>

    <div class="form-group row">
        <label for="country" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <InputSelect class="form-control" id="country" ValueExpression="()=>jobModel.CountryId" Value="@jobModel.CountryId" ValueChanged="(int? value) => OnCountryChanged(value, null)">
                <option value="">Select country...</option>
                @foreach (var item in countries)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </InputSelect>
        </div>
    </div>

    <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            <InputSelect class="form-control" id="city" @bind-Value="jobModel.CityId">
                <option value="">Select city...</option>
                @foreach (var item in cities)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </InputSelect>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</EditForm>
<br />
<JobsList Jobs="jobs" OnItemDeleted="DeleteHandler" OnItemEdited="EditHandler" />