@inject HttpClient Http

<h3>Jobs</h3>

@if (Jobs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Requirements</th>
                <th>Country</th>
                <th>City</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in Jobs)
            {
                <tr>
                    <td>@job.Name</td>
                    <td>@job.Description</td>
                    <td>@job.Requirements</td>
                    <td>@job.Country</td>
                    <td>@job.City</td>
                    <td>
                        <button class="btn btn-secondary" @onclick="async () => await OnItemEdited.InvokeAsync(job)">Edit</button>
                        <button class="btn btn-danger" @onclick="async () => await OnItemDeleted.InvokeAsync(job)">Delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public List<JobModel> Jobs { get; set; }

    [Parameter]
    public EventCallback<JobModel> OnItemDeleted { get; set; }

    [Parameter]
    public EventCallback<JobModel> OnItemEdited { get; set; }
}
